{{#each messages}}
<div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert"></button>
    {{this}}
</div>
{{/each}}
<div class="page-header">
    <h1>{{subject.name}}</h1>
</div>
<table class="table table-striped ">
    <tbody>
        <tr>
            <td>Kurzuskód</td>
            <td>{{subject.code}}</td>
        </tr>
        <tr>
            <td>Típus</td>
            <td>{{subject.type}}</td>
        </tr>
        <tr>
            <td>Kredit</td>
            <td>{{subject.credit}}</td>
        </tr>
        <tr>
            <td>Időpont</td>
            <td>{{subject.date}}</td>
        </tr>
        <tr>
            <td>Helyszín</td>
            <td>{{subject.location}}</td>
        </tr>
        <tr>
            <td>Oktató</td>
            <td>{{subject.teacher}}</td>
        </tr>
    </tbody>
</table>
</body>
