<body>
    <div class="page-header">
        <h1>Új tárgy hozzáadása</h1>
    </div>
    <form class="form-horizontal" method="post">
        <fieldset>
            <div class="form-group
                {{#if validationErrors.code}}
                    has-error
                {{/if}}
            ">
                <label for="code" class="col-lg-2 control-label">Kurzuskód</label>
                <div class="col-lg-10">
                    <input class="form-control" id="code" name="code" type="text" value="{{data.code}}">
                    {{#if validationErrors.code}}
                        <span class="help-block">{{validationErrors.code.msg}}</span>
                    {{/if}}
                </div>
            </div>
            <div class="form-group
                {{#if validationErrors.name}}
                    has-error
                {{/if}}
            ">
                <label for="name" class="col-lg-2 control-label">Név</label>
                <div class="col-lg-10">
                    <input class="form-control" id="name" name="name" type="text" value="{{data.name}}">
                    {{#if validationErrors.name}}
                        <span class="help-block">{{validationErrors.name.msg}}</span>
                    {{/if}}
                </div>
            </div>
            <div class="form-group
                {{#if validationErrors.type}}
                    has-error
                {{/if}}
            ">
                <label for="type" class="col-lg-2 control-label">Típus</label>
                <div class="col-lg-10">
                    <input class="form-control" id="type" name="type" type="text" placeholder="Előadás vagy Gyakorlat" value="{{data.type}}">
                    {{#if validationErrors.type}}
                        <span class="help-block">{{validationErrors.type.msg}}</span>
                    {{/if}}
                </div>
            </div>
            <div class="form-group
                {{#if validationErrors.date}}
                    has-error
                {{/if}}
            ">
                <label for="date" class="col-lg-2 control-label">Időpont</label>
                <div class="col-lg-10">
                    <input class="form-control" id="date" name="date" type="text" value="{{data.date}}">
                    {{#if validationErrors.date}}
                        <span class="help-block">{{validationErrors.date.msg}}</span>
                    {{/if}}
                </div>
            </div>
            <div class="form-group
                {{#if validationErrors.location}}
                    has-error
                {{/if}}
            ">
                <label for="location" class="col-lg-2 control-label">Helyszín</label>
                <div class="col-lg-10">
                    <input class="form-control" id="location" name="location" placeholder="pl. PC6, Lovarda, 2. emeleti folyosó..." type="text" value="{{data.location}}">
                    {{#if validationErrors.helyszin}}
                        <span class="help-block">{{validationErrors.helyszin.msg}}</span>
                    {{/if}}
                </div>
            </div>
            <div class="form-group
                {{#if validationErrors.teacher}}
                    has-error
                {{/if}}
            ">
                <label for="teacher" class="col-lg-2 control-label">Tanár</label>
                <div class="col-lg-10">
                    <input class="form-control" id="teacher" name="teacher" type="text" value="{{data.teacher}}">
                    {{#if validationErrors.teacher}}
                        <span class="help-block">{{validationErrors.teacher.msg}}</span>
                    {{/if}}
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="reset" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
</body>
